SMMS_TOKEN = ""
ACCOUNT_ID = ""
JWT_SECRET = ""
CLIENT_ID = ""
CLIENT_SECRET = ""
BGM_CLIENT_ID = ""
BGM_CLIENT_SECRET = ""
LOCAL_CLIENT_ID = ""
LOCAL_CLIENT_SECRET = ""
FRONTEND_URL = "localhost:3333"
BACKEND_URL = "127.0.0.1:8787"
IS_DEV = true
